{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="empresaCtrl" >
    <div class="col-md-12">
        <h3>Bairros de Atendimento da Empresa <b>{[em.empresaselecionado[0].nome]}</b></h3>
        <p>Este módulo apresenta por padrão as subcategorias.</p>
    </div>
      <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Título</th>
                <th>Valor</th>
                <th></th>
            </tr>
              <tr ng-repeat="bairro in em.empresaselecionado[0].bairros">
                  <td class="col-md-8">{[bairro.bairro]}</td>
                  <td class="col-md-3">{[bairro.frete]}</td>
                  <td><a href="/adm/filiado/atendimento-excluir?e_id={[em.empresaselecionado[0].id]}&b_id={[bairro.bairro_id]}" class="btn btn-danger btn-xs">excluir</a> </td>
              </tr>
        </table>
    </div>
    <div class="col-md-2">
        <a href="/adm/filiado/atendimento-novo?e_id={[em.empresaselecionado[0].id]}" class="btn btn-primary btn-lg">Adicionar Bairro</a>
    </div>
</div>

{% endblock %}
