{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Integra Restaurante{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="restauranteintegraClienteCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin:10px 0px 30px 0px;">
                <div class="col-md-12" style="padding:0px;margin-top:20px;">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <img class="img-circle img-responsive" ng-src="{[em.caminho_foto]}{[em.empresaselecionado[0].logotipo]}"/>
                        </div>
                        <div class="col-md-10">
                            <b style="text-transform:uppercase;">{[em.empresaselecionado[0].nome]}</b>
                            <p style="color:#333;">
                                {[em.empresaselecionado[0].tipo_cozinha]}
                            </p>
                        </div>
                        <div class="col-xs-1">
                            {[em.empresaselecionado[0].nota]}
                        </div>
                    </div>
                    <ul class="nav nav-tabs menu-empresa" style="padding-top:70px;border-bottom:0px;margin-bottom:20px;">
                      <li role="presentation" class="active" ><a data-toggle="tab" href="#cardapio">CARDÁPIO</a></li>
                      <li role="presentation"><a href="#avaliacoes" data-toggle="tab">AVALIAÇÕES</a></li>
                      <li role="presentation"><a href="#informacoes" data-toggle="tab">INFORMAÇÕES</a></li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="cardapio">
                            <div class="col-md-12"  style="padding:0px;">

                                <div ng-repeat="prodscat in pt.lista_produtos">
                                    <b style="font-size:10px;margin:10px;text-transform:uppercase;">{[prodscat.subcategoria]}</b>
                                    <ul class="col-md-12" style="padding:0px;">
                                        <li class="list-group-item col-md-12" ng-repeat="prod in prodscat.produtos">
                                            <a href="/cliente/produto?p_id={[prod.id]}">
                                                <div class="col-md-12" style="padding:2px;color:#bc2026;text-transform:uppercase;padding:0px; margin-bottom:2px;font-weight:bold;">
                                                    <div class="col-md-1" style="padding:0px;">
                                                        <img class="img-rounded img-responsive" ng-src="{[pt.caminho_foto]}{[prod.foto]}"/>
                                                    </div>
                                                    <div class="col-md-9" style="padding-left:20px;">
                                                        <b>{[prod.nome]}</b>
                                                        <p style="color:#333;font-size:7px;">{[prod.descricao]}</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        R$ {[prod.preco.toFixed(2)]}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="avaliacoes">
                            <div class="col-md-12" style="padding:0px;">
                                <ul class="list-group">
                                    <li class="list-group-item col-md-12" style="border-left:0px;border-right:0px;" ng-repeat="avaliacao in em.empresaselecionado[0].avaliacoes">
                                        <div class="col-md-12 col-xs-4"><b>{[avaliacao.avaliador]} </b></div>
                                        <div class="col-md-12 col-xs-4 col-md-offset-4 col-xs-offset-4" style="text-align:right;"><b>{[avaliacao.avaliacao_data]}</b></div>
                                        <div class="col-md-2 col-xs-2"><b style="font-size:16px;">{[avaliacao.avaliacao_nota]}.00</b></div>
                                        <div class="col-md-6 col-xs-10">{[avaliacao.avaliacao_mensagem]}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="informacoes">
                            <div class="col-md-12">
                                <b>Descrição</b><br/>
                                {[em.empresaselecionado[0].descricao]}
                                <br/><br/>

                                <b>Endereço</b><br/>
                                {[em.empresaselecionado[0].endereco]},{[em.empresaselecionado[0].bairro]} - {[em.empresaselecionado[0].cidade]}

                                <br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}