{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="realizarpedidosCtrl">
    <div class="container">
        <div class="row">
            <div style="margin:0px;padding:0px;">
                <div class="col-xs-12" style="margin-top:20px;margin-bottom:5px;">
                    <b>CONFIRME O ENDEREÇO</b>
                </div>
                <div class="col-xs-12" style="font-size:10px;">
                    <p></p>

                    <label class="control-label">Estado</label> - {[cl.clientelogado[0].estado]}<br/>
                    <select class="form-control" name="estado" id="estado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="sel_estado"></select>
                    <br/>

                    <label class="control-label">Cidade</label> - {[cl.clientelogado[0].cidade]}<br/>
                    <select class="form-control" name="cidade" id="cidade" ng-change="getbairros()" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="sel_cidade"></select>
                    <br/>

                    <label class="control-label">Bairro</label> - {[cl.clientelogado[0].bairro]}<br/>
                    <select class="form-control" name="bairro" id="bairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="sel_bairro"></select>
                    <br/>

                    <label class="control-label">Endereço</label><br/>
                    <textarea id="endereco" name="endereco" rows="5" required="true" class="form-control" style="font-size:11px;">{[cl.clientelogado[0].endereco]}</textarea>
                    <br/>

                    <label class="control-label">Complemento</label><br/>
                    <input id="complemento" name="complemento" required="true" style="margin-bottom:65px; font-size:11px;" class="form-control" value="{[cl.clientelogado[0].complemento]}" />
                </div>
                <div class="col-xs-12 rodape-pedido" style="margin-bottom:30px;">
                    <a ng-click="atualizar();" class="btn btn-default" style="display:block;" >CONFIRMAR ENDEREÇO <i class="glyphicon glyphicon-map-marker"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}