{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="perfilClienteCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 meu-perfil" style="margin:10px 0px 30px 0px;">
                <h4 class="ttl-laranja">Meus Perfil</h4>

                <div class="col-xs-12 col-md-12" style="padding:0px;">
                    <div ng-if="cl.retorno">
                        <p class="alert alert-success" style="text-align:center;">Atualizado com sucesso!</p>
                    </div>
                    <div ng-if="cl.clientelogado[0].email == null">
                        <p class="alert alert-danger" style="text-align:center;">Complete seus dados, o seu endereço é uma informação muito imporante para a realização dos pedidos!</p>
                    </div>

                    <form enctype="multipart/form-data" method="post">

                        <h3 class="ttl-cinza">Informações Pessoais</h3>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <img class="img-circle" ng-src="{[cl.caminho_foto]}{[cl.clientelogado[0].foto]}" style="border:1px solid;width:150px;padding:10px;display:block;margin:20px auto;" />
                            </div>
                            <div class="col-md-6" style="margin-top:40px;">
                                <b>Deseja trocar a foto do perfil?</b><br>
                                <small>Utilizar apenas imagens em JPG (min. 400x400px)</small><br><br>

                                    <input type="hidden" name="id" value="30" />
                                    <input type="file" ng-model="cl.foto_principal" fileread="cl.foto_principal" />

                            </div>
                        </div>

                        <input id="nome" name="nome" placeholder="Nome" value="{[cl.clientelogado[0].nome]}" required="True" class="form-control"/>

                        <input enabled="false" placeholder="Email" id="email" name="email" value="{[cl.clientelogado[0].email]}" required="True" class="form-control"/>

                        <input id="telefone" placeholder="Telefone" name="telefone" value="{[cl.clientelogado[0].telefone]}" required="True" class="form-control"/>
                        <br>

                        <h3 class="ttl-cinza">Endereço</h3>

                        <div class="col-md-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-8 col-xs-8" style="padding-left:0px;padding-right:0px;">
                                <input type="text" id="cep" placeholder="CEP" type="text" value="{[cl.clientelogado[0].cep]}" name="cep" required="True" class="form-control"/>
                            </div>
                            <div class="col-md-3 col-xs-3" style="padding-right:0px;">
                                <a class="btn btn-primary" ng-click="getcep();">Localizar</a>
                            </div>
                        </div>

                        <label class="control-label">Estado</label> - {[cl.clientelogado[0].estado]}<br/>
                        <select class="form-control" name="estado" id="estado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="et.estado_selecionado"></select>

                        <label class="control-label">Cidade</label> - {[cl.clientelogado[0].cidade]}<br/>
                        <select class="form-control" name="cidade" id="cidade" ng-change="getbairros()" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="cd.cidade_selecionado"></select>

                        <label class="control-label">Bairro</label> - {[cl.clientelogado[0].bairro]}<br/>
                        <select class="form-control" name="bairro" id="bairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="br.bairro_selecionado"></select>

                        <div class="col-md-8" style="padding:0px;">
                            <input type="text" placeholder="Endereço" id="endereco" type="text" name="endereco" value="{[cl.clientelogado[0].endereco]}" required="True" class="form-control col-md-8"/>
                        </div>
                        <div class="col-md-4" style="padding:0px 0px 0px 5px;">
                            <input type="text" placeholder="Número" id="numero" type="number" name="numero" required="True" value="{[cl.clientelogado[0].numero]}" class="form-control col-md-4"/>
                        </div>
                        <input type="text" placeholder="Complemento" id="complemento" type="text" name="complemento" required="True" value="{[cl.clientelogado[0].complemento]}" class="form-control"/>
                        <br/>

                        <h3 class="ttl-cinza">Senha</h3>
                        <p>A Alteração de senha terá efeito imediato.</p>
                        <input id="senha" name="senha" type="password" class="form-control"/>

                        <a class="btn btn-sm btn-success" style="float:right;margin-top:10px;" ng-click="atualizar()">Salvar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}