{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="col-md-12 col-xs-12 home-menu-categorias" ng-controller="homeClienteCtrl">
    <ul class="col-md-8 col-md-offset-2" style="padding:0px;">
        <li class="col-md-3 col-xs-3">
            <a ng-click="set_tipocozinha(2);" role="button">
                <img src="{% static 'img/img-categoria-oriental.png'%}"/> <b>Oriental</b>
            </a>
        </li>
        <li class="col-md-3 col-xs-3">
            <a ng-click="set_tipocozinha(13);" role="button">
                <img src="{% static 'img/img-categoria-pizzas.png'%}"/> <b>Pizzas</b>
            </a>
        </li>
        <li class="col-md-3 col-xs-3">
            <a ng-click="set_tipocozinha(9);" role="button">
                <img src="{% static 'img/img-categoria-massas.png'%}"/> <b>Massas</b>
            </a>
        </li>
        <li class="col-md-3 col-xs-3">
            <a ng-click="set_tipocozinha(11);" role="button">
                <img src="{% static 'img/img-categoria-lanches.png'%}"/> <b>Lanches</b>
            </a>
        </li>
    </ul>
</div>
<div class="cliente-home" ng-controller="homeClienteCtrl">
    <div class="container">
        <div class="row">
            <div ng-if="cl.clientelogado[0].email == null">
                <p class="alert alert-danger" style="text-align:center;">Complete seus dados, o seu endereço é uma informação muito imporante para a realização dos pedidos. Acesse o <a href="profile.html">seu perfil</a> e complete agora mesmo</p>
            </div>
            <div class="col-md-12 lista-home" style="min-height:500px;">

                <!-- Modal content-->
                 <!-- Modal -->
                  <div class="modal fade" id="modal_pendencia" role="dialog">
                      <div class="modal-dialog modal-lg" style="width: 1200px;">
                          <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Avaliação Pendente</h4>
                            </div>
                            <div class="modal-body">
                                <avaliacao></avaliacao>
                            </div>
                        </div>
                      </div>
                  </div>
                <br>

                 <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search" style="font-size: 20px;"></i>
                    <input class="form-control search-place" id="iFiltro" ng-keyup="filtrar();" placeholder="Buscar prato ou restaurante" style="margin-bottom:30px;">
                 </div>

                <div class="col-md-12 filtros">
                    <div class="col-md-2">
                        Cozinha:
                        <h5 ng-repeat="tipo in tipocozinha">
                            {{ tipo }}
                        </h5>
                        <select class="form-control" name="filtro_tipocozinha" id="filtro_tipocozinha" ng-options="tipocozinha as tipocozinha.fields.nome for tipocozinha in tc.lista_tiposcozinha track by tipocozinha.pk" ng-model="tc.tipocozinha_selecionado">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                       Preço:
                        <select class="form-control" id="filtro_preco">
                            <option value="">Todos</option>
                            <option value="0_30">até 30 reais</option>
                            <option value="31_40">de 31 a 40 reais</option>
                            <option value="41_60">de 41 a 60 reais</option>
                            <option value="61_80">de 61 a 80 reais</option>
                            <option value="81">acima de 80 reais</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Pagamento:
                        <select class="form-control" id="filtro_cobranca">
                            <option value="">Todos</option>
                            <option value="dinheiro">Dinheiro</option>
                            <option value="cartao">Cartão de Crédito/Débito - Na entrega</option>
                            <option value="valerefeicao">Vale Refeição - Na entrega</option>
                            <option value="pagamento_online">Pagamento Online</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        Entrega:
                        <select class="form-control" name="filtro_entrega" id="filtro_entrega" ng-options="tipotempo as tipotempo.fields.nome for tipotempo in tt.lista_tipostempo track by tipotempo.pk" ng-model="tt.tipotempo_selecionado">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a class="btn btn-default" ng-click="filtrar();" style="margin-top:20px;">Filtrar</a>
                    </div>
                </div>
                <div class="col-md-12 filtros" style="margin-bottom: 30px">
                    <br>
                    <div class="col-md-2" style="float: left;">
                        <input type="checkbox" name="filtro_entrega_gratis" id="filtro_entrega_gratis"/> Entrega grátis
                    </div>
                    <div class="col-md-4" style="float: left;">
                        <input type="checkbox" name="filtro_retirar_restaurante" id="filtro_retirar_restaurante"/> Retirar no restaurante
                    </div>
                    <p><p>
                </div>
                <div class="col-md-6 lista-home-item card" ng-repeat="emp in em.lista_empresas">
                    <a href="/cliente/restaurante?e_id={[emp.id]}">
                        <div class="col-md-12 col-xs-12" style="padding:0; font-weight:bold;">
                            <div class="col-md-2 col-xs-2 card-img-wrapper">
                                <img class="img-circle" style="width:80px;height:80px;" ng-src="{[em.caminho_foto]}{[emp.logotipo]}" />
                            </div>
                            <div class="col-md-9 col-xs-9" style="padding:15px;">
                                <b class="card-title">{[emp.nome]}</b>
                                <p>
                                    {[emp.tipocozinha]} | $$$
                                </p>
                            </div>
                            <div class="col-md-1 col-xs-1 nota" style="padding: 0px; float: right; margin-right: 20px;margin-top: -60px;">
                                <img src="{% static 'img/estrela_amarela.png'%}" style="width:18px;">
                                {[emp.nota_atual.toFixed(2)]}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding:0px 2px;font-size:9px;">
                            <div class="label label-primary" style="font-size:10px;margin:2px;display:inline-block;" ng-repeat="subs in prod.subcategorias">{[subs.categoria]} - {[subs.subcategoria]}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_extra %}
{#    <script src="{% static 'js/bootstrap.min.js'%}"></script>#}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}