{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="realizarpedidosCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pagina-avaliacoes">
                <div class="col-md-12 topo">

                    <div class="col-md-2 col-md-offset-8">
                        <a href="#avaliacoes_recentes" id="avaliacoes_recentes-tab" data-toggle="tab" aria-controls="avaliacoesrecentes" role="tab" class="btn btn-default btn-laranja">Avaliações Recentes</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#pedidos_avaliacao" id="pedidos_avaliacao-tab" data-toggle="tab" aria-controls="pedidosavaliados" role="tab" class="btn btn-default btn-laranja">Pedidos Avaliados</a>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="pagina-avaliacoes tab-pane fade active in" id="avaliacoes_recentes" role="tabpanel" aria-labelledby="avaliacoes_recentes-tab">

                    <div class="col-md-12">
                        <div class="col-md-12 topo">
                            <div class="col-md-8">
                                <b class="ttl-laranja">MINHAS ÚLTIMAS ATUALIZAÇÕES</b>
                            </div>
                        </div>

                        <div class="col-md-12 avaliacoes_recentes">
                            <div class="col-md-5 box-cinza-claro" style="margin-left:10px;">

                                <div class="col-md-8">
                                    <b>Pedido Número</b>
                                </div>
                                <div class="col-md-4 t_r">
                                    8888
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-12 lista-produtos">
                                    <b>1 X pizza calabresa + Coca-cola 2 Litros</b>
                                </div>

                                <div class="col-md-12">
                                    <hr>
                                </div>

                                <div class="col-md-8">
                                    <b>Taxa de Entrega</b>
                                </div>
                                <div class="col-md-4 t_r">
                                    Grátis
                                </div>

                                <div class="col-md-8">
                                    <b>Total</b>
                                </div>
                                <div class="col-md-4 t_r">
                                    R$ 99,99
                                </div>
                            </div>
                                <div class="col-md-6" style="margin-left:75px;">
                                    <div class="col-md-12 box-cinza-claro">
                                        <div class="col-md-12">
                                            <b>Avaliação do Restaurante</b>

                                            <div class="col-md-12" style="padding:0px;">
                                                <hr>
                                            </div>
                                            <br>
                                            O pedido chegou no tempo correto?<br>
                                            <p class="texto-cinza-claro">Estimativa do tempo de entrega:75 minutos</p>
                                            <div class="col-md-8" style="padding-left:0px;margin:10px 0px;">
                                                <div class="col-md-6" style="padding-left:0px;">
                                                    <input type="checkbox">SIM
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="checkbox">NÃO
                                                </div>

                                            </div>

                                            <div class="col-md-12" style="padding:0px;">
                                                <ul>
                                                    <li>
                                                        <div class="col-md-7" style="padding-left:0px;">Embalagem</div>
                                                        <div class="col-md-5">
                                                            <div class="rating" style="margin:0 auto;">
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="col-md-7" style="padding-left:0px;">Comida</div>
                                                        <div class="col-md-5">
                                                            <div class="rating" style="margin:0 auto;">
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="col-md-7" style="padding-left:0px;">Tempo de Entrega</div>
                                                        <div class="col-md-5">
                                                            <div class="rating" style="margin:0 auto;">
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="col-md-7" style="padding-left:0px;">Custo/Benefício</div>
                                                        <div class="col-md-5">
                                                            <div class="rating" style="margin:0 auto;">
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                                <span>☆</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div class="col-md-12" style="padding:0px;">
                                                    <hr>
                                                </div>

                                                <b>Avaliação no MenuWeb</b><br>
                                                <p class="texto-cinza-claro">Numa escala de 1 a 10, qual a probalidade de você indicar o MenuWeb a um amigo?</p>

                                                <br>
                                                <a class="btn btn-xs btn-default">01</a>
                                                <a class="btn btn-xs btn-default">02</a>
                                                <a class="btn btn-xs btn-default">03</a>
                                                <a class="btn btn-xs btn-default">04</a>
                                                <a class="btn btn-xs btn-default">05</a>
                                                <a class="btn btn-xs btn-default">06</a>
                                                <a class="btn btn-xs btn-default">07</a>
                                                <a class="btn btn-xs btn-default">08</a>
                                                <a class="btn btn-xs btn-default">09</a>
                                                <a class="btn btn-xs btn-default">10</a>
                                            </div>
                                        </div>
                                </div>
                                <textarea class="form-control"></textarea>
                                <a class="btn btn-default btn-laranja" style="margin: 15px 0px;float: right;">Enviar Avaliação</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagina-avaliacoes tab-pane fade" role="tabpanel" id="pedidos_avaliacao" aria-labelledby="pedidos_avaliacao-tab">
                    <div class="col-md-12">
                        <div class="col-md-12 topo">
                            <div class="col-md-8">
                                <b class="ttl-laranja">PEDIDOS AVALIADOS</b>
                            </div>
                        </div>

                        <div class="col-md-12 avaliacoes_recentes">
                            <ul>
                                <li class="col-md-12" style="margin:20px;">
                                    <div class="col-md-6 ttl-laranja">
                                        Pizza Hut
                                    </div>
                                    <div class="col-md-6 ttl-laranja">
                                        Pedido realizado: <b>31/10/2017</b>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-12 box-cinza-claro">
                                            <div class="col-md-4" style="text-align:center;">
                                                Nota Final <br>
                                                <b style="font-size:30px;color:#FF3E00;">5</b>
                                                <div class="rating" style="margin:0 auto;">
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-md-offset-2">
                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Embalagem
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Comida
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Tempo de Entrega
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Custo/ Benefício
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-12" style="margin:20px;">
                                    <div class="col-md-6 ttl-laranja">
                                        Pizza Hut
                                    </div>
                                    <div class="col-md-6 ttl-laranja">
                                        Pedido realizado: <b>31/10/2017</b>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12 box-cinza-claro">
                                            <div class="col-md-4" style="text-align:center;">
                                                Nota Final <br>
                                                <b style="font-size:30px;color:#FF3E00;">5</b>
                                                <div class="rating" style="margin:0 auto;">
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                    <span>☆</span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-md-offset-2">
                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Embalagem
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Comida
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Tempo de Entrega
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 tipo_avaliacao">
                                                    <div class="col-md-6">
                                                        Custo/ Benefício
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="rating">
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                            <span>☆</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}