{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="realizarpedidosCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 ttl-orange-cadastro" style="margin-top:20px;">
                    <b>Seu pedido #{[pe.pedidoselecionado[0].id]}</b>
                    <p>Pedido realizado em {[pe.pedidoselecionado[0].data]}</p>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <table class="table" style="font-size:12px;">
                            <tr ng-repeat="it in pe.pedidoselecionado[0].itens">
                                <td class="col-md-1">{[it.quantidade]}</td>
                                <td class="col-md-8">{[it.produto]}<br>
                                    <p class="pedido-integra-obs">{[it.observacao]}</p>
                                </td>
                                <td class="col-md-3">
                                    R$ {[it.preco_parcial.toFixed(2)]}
                                </td>
                            </tr>
                        </table>
                        <table class="table" style="font-size:12px;">
                            <tr style="border:none;box-shadow:none;">
                                <td class="col-md-4" style="padding-top:40px;"><b>Taxa de entrega</b></td>
                                <td class="col-md-8" style="padding-top:40px;text-align:right;">R$ {[pe.pedidoselecionado[0].frete.toFixed(2)]}</td>
                            </tr>
                            <tr style="border:none;box-shadow:none;">
                                <td class="col-md-4"><b>Total</b></td>
                                <td class="col-md-8" style="text-align:right;">R$ {[pe.pedidoselecionado[0].total.toFixed(2)]}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                            <b>Endereço de Entrega:</b><br>
                            {[pe.pedidoselecionado[0].endereco]}, {[pe.pedidoselecionado[0].bairro]} -
                            {[pe.pedidoselecionado[0].cidade]}
                            <br><br>

                            <b>Telefone:</b><br>
                            {[pe.pedidoselecionado[0].telefone]}
                            <br><br>

                            <b>Forma de Pagamento:</b><br>
                            {[pe.pedidoselecionado[0].pagamento_obs]} - {[pe.pedidoselecionado[0].pagamento_tipo]}
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img class="img-thumbnail" ng-src="{[pe.caminho_foto]}{[pe.pedidoselecionado[0].empresa_logotipo]}" />
                            <b style="text-align:center;display:block;">{[pe.pedidoselecionado[0].empresa]}</b>
                            <p style="text-align:center;">{[pe.pedidoselecionado[0].cidade]}-SP</p>
                        </div>
                        <div class="col-md-8">
                            <div class="box-verde"><i class="glyphicon glyphicon-earphone"></i> {[pe.pedidoselecionado[0].telefone]}</div>
                        </div>
                    </div>

                    <a href="/cliente/pedidos" style="margin:10px auto;float:right;" class="btn btn-default btn-laranja">CONCLUIR</a>
                </div>
                <div class="col-md-12 pedido-rodape">
                    <b>PROBLEMAS OU ALTERAÇÕES?</b>
                    <P>Fale diretamente com o estabelecimento</P>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}