{% extends "cliente/cliente-base.html" %}
{% block title %}MenuWeb - Clientes{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="cliente-home" ng-controller="realizarpedidosCtrl">
    <div class="container">
        <div class="row">
            <div style="margin:0px;padding:0px;">
                <div class="col-md-12" style="margin-top:20px;margin-bottom:5px;">
                    <b>TIPO DE PAGAMENTO</b>
                </div>
                <div class="col-md-12" style="font-size:10px;">
                    <div ng-show="em.empresapedido.aceita_pagamentoonline">
                        <div style="padding: 10px 12px;background-color:#F2F2F2;">
                            <img src="{% static 'img/ico-wifi.png' %}" class="img-rounded" style="width:20px;margin-right:5px" alt="webMenu">
                            Pague Online
                        </div>

                        <ul class="list-group" style="margin-bottom:0px;">
                            <li class="list-group-item" style="border-radius:0px; border-left:0px; border-right:0px;"><input type="radio" name="rd_pagamento_tipo" value="mercado_pago"> Cartão de Crédito<br></li>
                        </ul>
                    </div>

                    <div ng-show="em.empresapedido.restaurante_status == 'ok'">
                        <div style="padding: 10px 12px;background-color:#F2F2F2;">
                            <img src="{% static 'img/ico-wallet.png' %}" class="img-rounded" style="width:20px;margin-right:5px" alt="webMenu">
                            Pague na Entrega
                        </div>

                        <ul class="list-group" style="margin-bottom:0px;">
                          <li ng-show="em.empresapedido.aceita_cartao" class="list-group-item" style="border-radius:0px; border-left:0px; border-right:0px;"><input type="radio" name="rd_pagamento_tipo" value="na_entrega_cartao" checked="true" > Cartão de débito/crédito<br></li>
                          <li class="list-group-item" style="border-radius:0px; border-left:0px; border-right:0px;"><input type="radio" name="rd_pagamento_tipo" value="na_entrega_dinheiro" checked="true" > Dinheiro<br></li>
                        </ul>

                        <div ng-show="em.empresapedido.aceita_valerefeicao" >
                            <div style="padding: 10px 12px;background-color:#F2F2F2;">
                                <img src="{% static 'img/ico-vr.png' %}" class="img-rounded" style="width:20px;margin-right:5px" alt="webMenu">
                                Vale Refeição
                            </div>

                            <ul class="list-group" style="margin-bottom:80px;">
                              <li class="list-group-item" style="border-radius:0px; border-left:0px; border-right:0px;"><input type="radio" name="rd_pagamento_tipo" value="na_entrega_valerefeicao_sodexo" checked="true" > Sodexo<br></li>
                              <li class="list-group-item" style="border-radius:0px; border-left:0px; border-right:0px;"><input type="radio" name="rd_pagamento_tipo" value="na_entrega_valerefeicao_visavale" checked="true" > Visa Vale<br></li>
                            </ul>
                        </div>
                    </div>

                    <a ng-click="atualizar_tipo_pagamento();" class="btn btn-default" style="display:block;">CONFIRMAR TIPO DE PAGAMENTO <i class="glyphicon glyphicon-credit-card"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}