/*Geral*/
*{
    padding:0px;
    margin:0px;
}

.orange, .orange a{
    color:#FB4000;
    text-transform:none;
    font-weight:bold;
}

a:hover, a:active, a:focus{
    background-color:transparent!important;
}

/*Menu Superior*/
.menu-topo{
    background-color:#FB4000;
    padding:15px 200px;
}

.menu-topo .nav a{
    color:#fff;
}


/*Rodape*/
.rodape{
    background-color:#303030;
    padding:30px 218px 15px;

}

.rodape .links li{
    list-style:none;
    font-size:10px;
}

.rodape .links li a{
    color:#fff;
}

.rodape .apps-social{
    color:#fff;
    font-size:10px;
}

.rodape .apps-social img{
    width:30px;
}

.rodape .apps-social li{
    padding:0px;
}

.rodape .apps-social li a{
    padding:0px;
}

.rodape .copyright{
    border-top:#FB4000 1px solid;
    color:#fff;
    font-size:10px;
    padding:10px 0px 30px 0px;
    margin-top:30px;
}


/*home*/
.home{

}


.home .titulo{
    font-size:26px;
    margin-bottom:0px;
}

.home .subtitulo{
}

.home .mediabox-home{
    background:url(../img/fd-mediabox.jpg) no-repeat;
    height:500px;
    background-size:100%;
}

.home .mediabox-home .busca{
    text-align:center;
    color:#fff;
    font-size:24px;
    font-style:italic;
    margin-top:100px;
}

.home .mediabox-home .busca b{
    font-style:initial;
}

.home .mediabox-home .busca .busca-home{
    background-color:#FB4000;
    text-transform:none;
    font-style:initial;
    color:#fff;
}

.home .mediabox-home .busca input{
    background-color:#fff;
    color:#000;
    height:35px;
    border-radius:4px;
    font-size:12px;
    font-style:initial;
    padding-left:20px;
    opacity:.8;
}

.home .mediabox-home .busca .cep{
    font-size:12px;
    font-style:initial;
    text-decoration:underline;
    margin-top:30px;
}

.home .melhores-restaurantes, .home .comunidade{
    padding: 0px 218px;
    text-align:center;
    margin-top:30px;
}

.home .melhores-restaurantes ul{
    margin:20px 0px;
}

.home .melhores-restaurantes li{
    margin-left:36px;
}

.home .melhores-restaurantes li img{
    width:100px;
}

.home .comunidade{
}

.home .comunidade .depoimento{
    padding:5px;
    margin-left:0px;
}

.home .comunidade .depoimento .conteudo{
    background-color:#FB4000;
    color:#fff;
    font-size:10px;
}

.home .comunidade .depoimento img{
    padding:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;

}

.home .comunidade .depoimento .conteudo{
    border-bottom-radius:4px;
}

.home .apps{
    margin-top:65px;
    padding:0px 218px 0px;
    position:relative;
}

.home .apps .desc{
    margin-top:100px;
}

.home .apps img{
    width:350px;
}

.home .apps .titulo{
    font-style:italic;
    line-height:30px;

}

.home .apps .titulo b{
    font-style:initial;
}

.home .apps .subtitulo{
    margin-top:20px;
}

.home .apps .download img{
    width: 130px;
    height: 42px;
}

.home .apps .download .nav{
    position: absolute;
    bottom: 60px;
}


/*popup Login*/
.popup .modal-dialog .modal-content{
    background-color:#FB4000;
    color:#fff;
}

.popup .modal-dialog .modal-content label{
    margin-bottom:0px;
}

.popup .modal-dialog .modal-content input{
    color:#fff;
    font-size:12px;
}

.popup .modal-dialog .modal-content select{
    font-size:12px;
    color:#000;
}

.bemvindo{
    padding: 5px;
    margin: 0px;
    background: transparent;
    color: #fff;
}

.bemvindo a{
    margin-left:10px;
    color:#fff;
}

/*Home Restaurantes*/
.restaurante-home .avaliacoes{
    background-color:#fff;
    border:1px solid #dddddd;
    padding:12px 20px;
}

.restaurante-home .avaliacoes .lista table{
    font-size:12px;
    margin:0px;
}

.restaurante-home .avaliacoes .lista table td{
    padding:0px;
}

.restaurante-home .topo{
    margin-top: 15px;
    margin-bottom: 15px;
    border:1px solid #dddddd;
}

.restaurante-home .topo select{
    background-color:#fff;
    border:1px solid #dddddd;
    font-size:12px;
    padding-left:5px;
}

.restaurante-home .acumulado{
    border:1px solid #dddddd;
}

.restaurante-home .faturamento{
    border:1px solid #dddddd;
}

.restaurante-home .novospedidos{
    border:1px solid #dddddd;
}

.restaurante-home .faturamento table{
    font-size:12px;
}

/*Expediente*/

.expediente table{
    font-size:12px;
}

/*Cliente toá¹•o*/

.menu-topo-links{
    background-color:#CD3700;
    padding:0px 175px;
}

.menu-topo-links a{
    color:#fff;
}

/*Cliente home*/

.cliente-home .well{
    border:1px solid #dddddd;
}

.cortina{
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
}

.avaliacoes_home{
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    width: 90%;
    margin: 5%;
    border-radius: 5px;
    padding:0px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}