{% extends 'adm/base.html' %}
{% block title %}Categorias - Excluir{% endblock %}
{% load staticfiles %}
{% block content %}

  <div class="content">

    <div class="col-md-12">
        <h2>SubCategoria - <small>Exclusão</small></h2>
    </div>
    <div class="col-md-10">
        <p>A exclusão terá efeito imediato</p>
        <p>Tem certeza que deseja excluir a subcategoria <b>{{subcategoriaselecionado.nome}}</b> ? </p>
    </div>
    <div class="col-md-2">
        <a href="/adm/bd-subcategoria-excluir?subc_id={{subcategoriaselecionado.id}}" style="display: block;width: 100%;" class="btn btn-success btn-lg">Sim</a>
        <a href="/adm/categorias" style="display: block;width: 100%;" class="btn btn-default">Cancelar</a>
    </div>

  </div>
{% endblock %}