{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
    <div class="col-md-12">
        <h3>SubCategorias da categoria <b>{{categoriaselecionado.nome}}</b></h3>
        <p>Este módulo apresenta por padrão as subcategorias.</p>
    </div>
    <div class="col-md-12">
        <form class="form-inline well">
            <div class="form-group">
                <label for="ipFiltroSubCategoria">SubCategoria</label>
                <input type="text" class="form-control" id="ipFiltroSubCategoria" name="ipFiltroSubCategoria" >
            </div>

            <button type="submit" class="btn btn-default">Filtrar</button>
        </form>
      </div>
      <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Título</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {%for subcategoria in categoriaselecionado.subcategorias.all%}
              <tr>
                  <td class="col-md-10">{{subcategoria.nome}}</td>
                  <td><a href="/adm/subcategoria-edicao?subc_id={{subcategoria.id}}" class="btn btn-primary btn-xs">editar</a> </td>
                  <td><a href="/adm/subcategoria-ver?subc_id={{subcategoria.id}}" class="btn btn-primary btn-xs">ver</a> </td>
                  <td><a href="/adm/subcategoria-excluir?subc_id={{subcategoria.id}}" class="btn btn-danger btn-xs">excluir</a> </td>
              </tr>
            {%endfor%}
        </table>
    </div>
    <div class="col-md-2">
        <a href="/adm/subcategorias-nova?c_id={{categoriaselecionado.id}}" class="btn btn-primary btn-lg">Nova SubCategoria</a>
    </div>
</div>

{% endblock %}
