{% extends 'adm/base.html' %}
{% block title %}Atendimentos - Excluir{% endblock %}
{% load staticfiles %}
{% block content %}

  <div class="content" ng-app="game7App" ng-controller="produtoCtrl">
    <div class="col-md-12">
        <h2>Categoria do Produto - <small>Exclusão</small></h2>
    </div>
    <div ng-if="pt.retorno">
        <p class="alert alert-success" style="text-align:center;">Excluido com sucesso!</p>
    </div>
    <div class="col-md-10">
        <p>A exclusão terá efeito imediato</p>
        <p>Tem certeza que deseja excluir a categoria <b>{[sc.atendimentoselecionado[0].fields.bairro]}</b> ? </p>
    </div>
    <div class="col-md-2">
        <a ng-click="excluir_produtocategoria()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Sim</a>
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/produto-categorias?p_id={[pt.produtoselecionado[0].id]}">Cancelar</a>
    </div>

  </div>
{% endblock %}