{% extends "adm/base.html" %}
{% block title %}Nova SubCategoria{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="produtoCtrl">
  <form method="post">
    <div ng-if="pt.retorno">
        <p class="alert alert-success" style="text-align:center;">Salvo com sucesso!</p>
    </div>
    <div class="col-md-12">
        <h3>Nova SubCategoria para o produto <b>{[pt.produtoselecionado[0].nome]}</b></h3>
        <p>A subcategoria do produto entrará em vigor assim que o mesmo for salvo.</p>
    </div>
    <div class="col-md-8">
        <label class="control-label">Categoria</label><br/>
        <select class="form-control" name="categoria" id="categoria" ng-change="getsubs()" ng-options="categoria as categoria.fields.nome for categoria in ct.lista_categorias track by categoria.pk" ng-model="sc.sel_categoria"></select>
        <br/>

        <label class="control-label">SubCategoria</label><br/>
        <select class="form-control" name="subcategoria" id="subcategoria" ng-options="subcategoria as subcategoria.fields.nome for subcategoria in sc.lista_subcategorias track by subcategoria.pk" ng-model="sc.sel_subcategorias"></select>
        <br/>
    </div>

    <div class="col-md-4">
        <a ng-click="atualizar_produtocategoria()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Salvar</a>
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/produto-categorias?p_id={[pt.produtoselecionado[0].id]}">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
