{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="pedidoCtrl">
    <div class="col-md-12">
        <h3>Pedidos</h3>
        <p>Este módulo apresenta por padrão os pedidos.</p>
    </div>
    <div class="col-md-12">
        <div class="form-inline well">
            <div class="form-group">
                <label for="ipFiltroData">Data</label>
                <input type="date" class="form-control" id="ipFiltroData" name="ipFiltroData" >
            </div>
            <div class="form-group">
                <label for="selStatus"></label>
                <select class="form-control" id="selStatus" name="selStatus">
                    <option value="">Todas os status</option>
                    <option value="Aguardando Aprovacao">Aguardando Aprovação</option>
                    <option value="Aguardando Preparo">Aguardando Preparo</option>
                    <option value="Aguardando Entrega">Aguardando Entrega</option>
                    <option value="Concluido">Concluído</option>
                </select>
            </div>
            <a ng-click="filtrar()" class="btn btn-default">Filtrar</a>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Data</th>
                <th>Cliente</th>
                <th>Empresa</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="pedido in pe.lista_pedidos">
              <td>{[pedido.data]}</td>
              <td>{[pedido.cliente]}</td>
              <td>{[pedido.empresa]}</td>
              <td>R$ {[pedido.total]}</td>
              <td>{[pedido.status]}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
