.topo-adm{
    position:relative;
    float:left;
}

.topo-adm img{
    opacity:.3;
    width:100%
}

.topo-adm h2{
    color: #FF3E00;
    position: absolute;
    font-size: 30px;
    top: 10%;
    left: 20%;
    font-weight: bold;
}

.btn-laranja{
    background-color:#FF3E00;
    color:#fff;
}

.btn-cinza-claro{
    background-color:#B4B4B4;
    color:#fff;

    border-radius: 0px;
    padding: 6px;
    font-weight: bold;
}

.box-borda{
    background:none;
    border:1px solid;
}

.ttl-cinza-claro{
    background-color:#F3F3F3;
    color:#3C3A3B;
    text-align:center;
    margin-bottom:0px;
}

.ttl-laranja{
    color:#FF3E00;
    text-align:center;
    margin-bottom:0px;
    display:block;
}

.btn-cinza-escuro{
    background-color:#403C3D;
    color:#fff;

    border-radius: 0px;
    padding: 6px;
    font-weight: bold;
}



/*Restaurantes - Pedidos*/
.restaurante-pedidos .nav-tabs li{
    padding:0px 2px;
}

.restaurante-pedidos .nav-tabs li a{
    background-color:#B5B5B5;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    text-align:center;
}

.restaurante-pedidos .nav-tabs .active a, .restaurante-pedidos .nav-tabs .active a:hover, .restaurante-pedidos .nav-tabs .active a:focus{
    background-color:#fff;
    color:#B5B5B5!important;
    box-shadow:none;
}

.restaurante-pedidos .nav-tabs .active{
    border: #bbb 1px solid;
    border-bottom: 0px;
}

.restaurante-pedidos .tab-content .active{
    border: #bbb 1px solid;
    float: left;
    width: 100%;
    border-top:0px;
}

/*Categorias Produtos*/
.categorias-produto th{
    padding:0px!important;
}

/*Repasse*/
.repasse .list-group-item{
    position:relative;
}

.repasse .badge{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 21px;
    border-radius: 0px;
    width: 250px;
}

/*restaurante-home*/

.restaurante-home .img-circle{
    border: #ddd 1px solid;
    padding: 10px;
    height: 110px;
    margin: 20px auto 5px;
    display: block;
}