{% extends "adm/base.html" %}
{% block title %}Nova Categoria{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="empresaCtrl">
  <form method="post">
    <div ng-if="em.retorno">
        <p class="alert alert-success" style="text-align:center;">Salvo com sucesso!</p>
    </div>
    <div class="col-md-12">
        <h3>Editar Empresa</h3>
        <p>A alteração da empresa estará disponível assim que estiver salva.</p>
    </div>
    <div class="col-md-8">
        <label class="control-label">Nome</label><br/>
        <input type="text" id="nome" name="nome" value="{[em.empresaselecionado[0].nome]}" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Email</label><br/>
        <input type="text" id="email" type="email" name="email" value="{[em.empresaselecionado[0].email]}" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Senha</label><br/>
        <input type="password" id="senha" name="senha" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Telefone</label><br/>
        <input type="number" id="telefone" name="telefone" value="{[em.empresaselecionado[0].telefone]}" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Porcentagem de Repasse</label><br/>
        <input type="number" id="porcentagem_repasse" name="porcentagem_repasse" value="{[em.empresaselecionado[0].porcentagem_repasse]}" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Valor da Mensalidade</label><br/>
        <input type="text" id="valor_mensalidade" name="valor_mensalidade" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Tipo de Cozinha</label><br/>
        <select class="form-control" name="tipocozinha" id="tipocozinha" ng-options="tipocozinha as tipocozinha.fields.nome for tipocozinha in tc.lista_tiposcozinha track by tipocozinha.pk" ng-model="sel_tipo"></select>
        <br/>

        <label class="control-label">Estado</label><br/>
        <select class="form-control" name="estado" id="estado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="sel_estado"></select>
        <br/>

        <label class="control-label">Cidade</label><br/>
        <select class="form-control" name="cidade" id="cidade" ng-change="getbairros()" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="sel_cidade"></select>
        <br/>

        <label class="control-label">Bairro</label><br/>
        <select class="form-control" name="bairro" id="bairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="sel_bairro"></select>
        <br/>

        <label class="control-label">Endereço</label><br/>
        <textarea id="endereco" name="endereco" rows="5" required="true" class="form-control">{[em.empresaselecionado[0].endereco]}</textarea>
        <br/>

        <label class="control-label">Descrição</label><br/>
        <textarea id="descricao" name="descricao" rows="5" required="true" class="form-control">{[em.empresaselecionado[0].descricao]}</textarea>
        <br/>

        <label class="control-label">Logotipo</label><br/>
        <small>Apenas Imagens .jpg</small>
        <input type="hidden" name="id" value="30" />
        <input type="file" ng-model="em.foto_principal" fileread="em.foto_principal" />
        <img class="col-md-4 img-thumbnail" ng-src="/game7api/static/media/empresa/{[em.empresaselecionado[0].logotipo]}" />
    </div>

    <div class="col-md-4">
        <a ng-click="atualizar()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Salvar</a>
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/filiados/">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
