{% extends "adm/base.html" %}
{% block title %}Nova Categoria{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="tiposcozinhasCtrl" >
  <form enctype="multipart/form-data" method="post">
    <div class="col-md-12">
        <h3>Editar Tipo de Cozinha</h3>
        <p>A alteração do tipo de cozinha estará disponível assim que estiver salva.</p>
    </div>
    <div ng-if="tc.retorno">
        <p class="alert alert-success" style="text-align:center;">Salvo com sucesso!</p>
    </div>
    <div class="col-md-8">
        <label class="control-label">Título</label><br/>
        <input type="text" id="nome" value="{[tc.tipocozinhaselecionado[0].fields.nome]}" required="True" class="form-control"/>
    </div>

    <div class="col-md-4">
        <a ng-click="atualizar()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Salvar</a>
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/tiposcozinha/">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
