{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb - Restaurante{% endblock %}
{% load staticfiles %}
{% block content %}
<div ng-controller="expedienteRestauranteCtrl" class="app expediente" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>
        <h2>Expediente do Restaurante</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top:10px;margin-bottom:20px;">
                <div class="well col-md-12" ng-if="!em.abertura.length">
                    <b>ABRIR RESTAURANTE</b>
                    <p>A realização da Abertura do estabelecimento permite que o memso se torne disponível para pedidos.</p>
                    <a ng-click="abrir_empresa()" class="btn btn-sm-danger btn-default">Abrir</a>
                </div>

                <div class="well col-md-12" ng-if="em.abertura.length">
                    <b>FECHAR RESTAURANTE</b>
                    <p>A realização do fechamento do restaunte remove o mesmo das listas de busca, fazendo com que não seja possível a selelção do mesmo. </p>
                    <div class="col-md-6" style="padding-left:0px;">
                        <b>Abertura</b><br>
                        {[em.abertura[0].abertura]}
                    </div>
                    <div class="col-md-6">
                        <a ng-click="fechar_empresa(em.abertura[0].id)" class="btn btn-default btn-sm btn-laranja">Fechar</a>
                    </div>
                </div>

                <table class="table" style="margin-bottom:0px;text-align:center;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Data de abertura</th>
                            <th style="text-align:center;">Data de fechamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ab in em.lista_aberturas">

                            <td>{[ab.abertura]}</td>
                            <td>{[ab.fechamento]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}