{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Novo Produto{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="cardapioRestauranteNovoCtrl" class="app" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>
        <a ng-click="atualizar_produtocategoria()" style="position: absolute;top: 25px;right: 20%" class="btn btn-primary btn-sm btn-laranja"><b>Salvar</b></a>
        <h2>Nova Categoria do Produto</h2>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;margin-top:30px;">
            <div class="col-md-8 col-md-offset-2">
                <br>
                <form method="post">
                    <div ng-if="pt.retorno">
                        <p class="alert alert-success" style="text-align:center;">Salvo com sucesso!</p>
                    </div>
                    <div class="col-md-12">
                        <p>A subcategoria do produto entrará em vigor assim que o mesmo for salvo.</p>

                        <label class="control-label">Categoria</label><br/>
                        <select class="form-control" name="categoria" id="categoria" ng-change="getsubs()" ng-options="categoria as categoria.fields.nome for categoria in ct.lista_categorias track by categoria.pk" ng-model="sc.sel_categoria"></select>
                        <br/>

                        <label class="control-label">SubCategoria</label><br/>
                        <select class="form-control" name="subcategoria" id="subcategoria" ng-options="subcategoria as subcategoria.fields.nome for subcategoria in sc.lista_subcategorias track by subcategoria.pk" ng-model="sc.sel_subcategorias"></select>
                        <br/>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

{% endblock %}