{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb - Restaurante{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="restaurante-home" ng-controller="homeRestauranteCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 well topo">
                <div class="col-md-2">
                    <img class="img-thumbnail img-responsive" ng-src="http://menuweb.com.br/game7api/static/media/empresa/{[em.empresalogado[0].logotipo]}">
                </div>
                <div class="col-md-4">
                    <b>{[em.empresalogado[0].nome]}</b> <br>
                    <small>{[em.empresalogado[0].descricao]}</small>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">
                        <label>Tempo de entrega</label>
                        <div id="temposelecionado">
                            {[em.empresalogado[0].tipo_tempo]}
                            <a class="btn btn-default btn-xs" style="float:right;" ng-click="abriredicaotempo()">Editar</a>
                        </div>
                        <div id="temposelecionar" style="display:none;">
                            <select class="form-control" id="selTempoEntrega" ng-change="set_tempoentrega();" ng-model="seltempo">
                                <option value="{[tipot.pk]}" ng-repeat="tipot in tt.lista_tipostempo">{[tipot.fields.nome]}</option>
                            </select>
                        </div>
                        <br>

                        <label>Disponibilidade</label>
                        <a href="/restaurante/expediente" class="btn btn-primary">VER EXPEDIENTE</a>
                    </div>

                    <div class="col-md-8 well avaliacoes">
                        <div class="col-md-6">
                            <b>Avaliações</b>
                        </div>
                        <div class="col-md-6">
                            <a href="/restaurante/avaliacoes" class="btn btn-xs btn-primary">ver avaliações</a>
                        </div>
                        <br>
                        <hr style="margin: 5px 0px 10px;">
                        <div class="col-md-12" style="margin:0px;padding:0px;">
                            <div class="semavaliacoes" style="text-align:center;display:none;">
                                Avaliações não disponíveis no momento<br/>
                                <i class="glyphicon glyphicon-save-file" style="font-size:40px;"></i>
                            </div>
                            <div class="lista"  ng-if="em.empresalogado[0].avaliacoes">
                                <table class="table table-striped">
                                    <tr>
                                        <th class="col-md-2">Nota</th>
                                        <th class="col-md-6">Mensagem</th>
                                        <th class="col-md-4">Data</th>
                                    </tr>
                                    <tr ng-repeat="aval in em.empresalogado[0].avaliacoes">
                                        <td style="text-align:center;">{[aval.avaliacao_nota]}</td>
                                        <td>{[aval.avaliacao_mensagem]}</td>
                                        <td>{[aval.avaliacao_data]}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding:0px;">
                <div class="col-md-12 well acumulado">
                    <div class="col-md-10">
                        <b>Acumulado do mês</b>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <hr>

                    <div class="col-md-6">
                        <div class="col-md-6">
                            <b>Pedidos<br>
                                {[em.lista_empresasremessas[0].qtd_naentrega + em.lista_empresasremessas[0].qtd_mercadopago]}
                            </b>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-6">
                            <b>Faturamento<br>
                               R$ {[em.lista_empresasremessas[0].total_naentrega + em.lista_empresasremessas[0].total_mercadopago]}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faturamento col-md-12 well">
                    <div class="col-md-8">
                        <b>Faturamento do Mês</b>
                    </div>
                    <div class="col-md-4">
                        <a href="/restaurante/repasse" class="btn btn-xs btn-primary">ver faturas</a>
                    </div>
                    <hr>
                    <table class="table">
                        <tr>
                            <th class="col-md-3">Dt Atual</th>
                            <th class="col-md-3">Dt Fim</th>
                            <th class="col-md-3">Valor</th>
                            <th class="col-md-3">Pago</th>
                        </tr>
                        <tr>
                            <td>{[em.lista_empresasremessas[0].repasses[0].data_inicio]}</td>
                            <td>{[em.lista_empresasremessas[0].repasses[0].data_fim]}</td>
                            <td>R$ {[em.lista_empresasremessas[0].repasses[0].total]}</td>
                            <td class="col-md-2" ng-if="em.lista_empresasremessas[0].repasses[0].pago == true">Sim</td>
                            <td class="col-md-2" ng-if="em.lista_empresasremessas[0].repasses[0].pago == false">Não</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}