{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Novo Produto{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="cardapioRestauranteNovoCtrl" class="app" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>
        <a ng-click="excluir_produtocategoria()"  style="position: absolute;top: 25px;right: 20%" class="btn btn-primary btn-sm btn-laranja"><b>Excluir</b></a>
        <h2>Excluir Categoria</h2>
    </div>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;margin-top:30px;">
            <div class="col-md-8 col-md-offset-2 ">
               <div ng-if="pt.retorno">
                    <br>
                    <p class="alert alert-success" style="text-align:center;">Excluido com sucesso!</p>
                </div>

                <div class="col-md-12" style="text-align:center;">
                    <br>
                    <br>
                    <b>ATENÇÃO</b>
                    <p>
                        A exclusão da categoria terá efeito imediato<br>
                        Tem certeza que deseja excluir a categoria <b>{[sc.atendimentoselecionado[0].fields.bairro]}</b> ?
                    </p>

                    <a ng-click="excluir_produtocategoria()" style="padding:3px 20px;" class="btn btn-default btn-cinza-claro">Sim</a>
                    <a href="/restaurante/cardapio/categorias?p_id={[pt.produtoselecionado[0].id]}" style="padding:3px 20px;" class="btn btn-default btn-cinza-claro">Não</a>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}