{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Novo Produto{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="cardapioRestauranteNovoCtrl" class="app" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>
        <a ng-click="atualizar()" style="position: absolute;top: 25px;right: 20%" class="btn btn-primary btn-sm btn-laranja"><b>Salvar</b></a>
        <h2>Novo Produto</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <br>
                <div ng-if="pt.retorno">
                    <p class="alert alert-success" style="text-align:center;">Atualizado com sucesso!</p>
                </div>

                <form enctype="multipart/form-data" method="post">
                    <label class="control-label">Nome</label><br/>
                    <input type="text" id="nome" name="nome" required="True" class="form-control"/>
                    <br/>

                    <label class="control-label">Preco</label><br/>
                    <input type="number" id="preco" name="preco" required="True" class="form-control"/>
                    <br/>

                    <label class="control-label">Categoria</label><br/>
                    <select class="form-control" name="categoria" id="categoria" ng-change="getsubs()" ng-options="categoria as categoria.fields.nome for categoria in ct.lista_categorias track by categoria.pk" ng-model="sc.sel_categoria"></select>
                    <br/>

                    <label class="control-label">SubCategoria</label><br/>
                    <select class="form-control" name="subcategoria" id="subcategoria" ng-options="subcategoria as subcategoria.fields.nome for subcategoria in sc.lista_subcategorias track by subcategoria.pk" ng-model="sc.sel_subcategorias"></select>
                    <br/>

                    <label class="control-label">Descrição</label><br/>
                    <textarea id="descricao" name="descricao" rows="5" required="true" class="form-control"></textarea>
                    <br/>

                    <label class="control-label">Foto destaque</label><br/>
                    <small>Apenas Imagens .jpg</small>
                    <input type="hidden" name="id" value="30" />
                    <input type="file" ng-model="pt.foto_principal" fileread="pt.foto_principal" />
                    <img class="col-md-4 thumbnail" ng-src="{[pt.foto_principal]}" />
                </form>

            </div>
        </div>
    </div>
  </div>

{% endblock %}