{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Cardápio{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="cardapioRestauranteCtrl" class="app" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>
        <a href="/restaurante/cardapio/novo?p_id=0" style="position: absolute;top: 25px;right: 20%" class="btn btn-default btn-sm btn-laranja"><b>Adicionar</b></a>
        <h2>Cardápio</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;margin-top:30px;">
                <!--<small style="margin-bottom:15px;display:block;">Controle os dados de expediente, é importante ressaltar que para que o restaurante apareça nas buscas o mesmo deverá estar "aberto"</small>-->

                <div class="col-md-8 col-md-offset-2 produto-item" ng-repeat="prod in pt.lista_produtos" style="border-radius: 0px;border-bottom:#B7B7B7 1px solid;margin-bottom: 20px;padding: 0px 0px 20px 0px;">
                    <div class="col-md-2" style="padding: 0px;">
                        <img class="img-thumbnail img-responsive" ng-src="{[pt.burl]}/game7api/static/media/produto/{[prod.foto]}"/>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <b>{[prod.nome]}</b>
                            </div>
                            <div class="col-md-6">
                                <div ng-repeat="subs in prod.subcategorias">{[subs.categoria]}</div>
                            </div>
                            <div class="col-md-6">
                                R$ {[prod.preco.toFixed(2)]}
                            </div>
                        </div>
                    </div>
                     <div class="col-md-2">
                         <div class="btn-group-vertical btns" style="width:100%;">
                            <a href="/restaurante/cardapio/editar?p_id={[prod.id]}" class="btn-xs btn btn-default btn-cinza-claro" style="border-radius:0px;">Editar</a>
                            <a href="/restaurante/cardapio/categorias?p_id={[prod.id]}" class="btn-xs btn btn-default btn-cinza-escuro" style="border-radius:0px;">Categorias</a>
                            <a href="/restaurante/cardapio/excluir?p_id={[prod.id]}" class="btn-xs btn btn-default btn-cinza-claro" style="border-radius:0px;">Excluir</a>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}