{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb - Restaurante{% endblock %}
{% load staticfiles %}
{% block content %}
<div ng-controller="expedienteRestauranteCtrl" class="app expediente" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:30px;margin-bottom:20px;">
                <h4>EXPEDIENTE</h4>
                <small style="margin-bottom:15px;display:block;">Controle os dados de expediente, é importante ressaltar que para que o restaurante apareça nas buscas o mesmo deverá estar "aberto"</small>


                <div class="well col-md-12" ng-if="!em.abertura.length">
                    <b>ABRIR RESTAURANTE</b>
                    <p>A realização da Abertura do estabelecimento permite que o memso se torne disponível para pedidos.</p>
                    <a ng-click="abrir_empresa()" class="btn btn-sm-danger btn-default">Abrir</a>
                </div>

                <div class="well col-md-12" ng-if="em.abertura.length">
                    <b>FECHAR RESTAURANTE</b>
                    <p>A realização do fechamento do restaunte remove o mesmo das listas de busca, fazendo com que não seja possível a selelção do mesmo. </p>
                    <b>Abertura</b><br>
                    {[em.abertura[0].abertura]}

                    <br/>
                    <br/>

                    <a ng-click="fechar_empresa(em.abertura[0].id)" class="btn btn-sm btn-sm-danger btn-default">Fechar</a>
                </div>

                <table class="table" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th>Data de abertura</th>
                            <th>Data de fechamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ab in em.lista_aberturas">

                            <td>{[ab.abertura]}</td>
                            <td>{[ab.fechamento]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}