{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Novo Produto{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="pedidosRestauranteCtrl" class="app" role="main">

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;margin-top:30px;">
                <h4>PEDIDOS</h4>
                <ul class="nav nav-tabs">
                  <li role="presentation" class="col-md-3 active"><a href="#agpreparo" data-toggle="tab">Ag. Preparo</a></li>
                  <li role="presentation" class="col-md-3"><a href="#empreparo" data-toggle="tab">Em Preparo</a></li>
                  <li role="presentation" class="col-md-3"><a href="#agentrega" data-toggle="tab">Ag. Entrega</a></li>
                  <li role="presentation" class="col-md-3"><a href="#pedidoconcluido" data-toggle="tab">Concluído</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="agpreparo">
                        <div class="col-md-4" style="font-size:10px;" ng-repeat="ped in pe.lista_pedidos_agpreparo">
                            <a ng-if="ped.status=='Aguardando Preparo'" ng-click="atualizar_status('Em Preparo',ped.id);" class="btn btn-default btn-sm" style="display:block;margin-top:20px;">Atualizar para em Preparo</a>

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>DATA</b><br>
                                    {[ped.data]}
                                </li>
                                <li class="list-group-item">
                                    <b>RESTAURANTE</b><br>
                                    {[ped.empresa]}
                                </li>
                                <li class="list-group-item">
                                    <b>ENTREGA</b><br>
                                    {[ped.endereco]}, {[ped.bairro]} -
                                    {[ped.cidade]}
                                </li>
                                <li class="list-group-item">
                                    <b>ITENS</b>
                                    <table class="table" style="font-size:11px;margin-bottom:0px;">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="it in ped.itens">
                                                <td>{[it.produto]}</td>
                                                <td>{[it.quantidade]}</td>
                                                <td>R$ {[it.preco_parcial.toFixed(2)]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="list-group-item">
                                    <b>PAGAMENTO</b><br>
                                    {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                                </li>
                                <li class="list-group-item">
                                    <b>STATUS</b><br>
                                    {[ped.status]}
                                </li>
                                <li class="list-group-item">
                                    <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;">
                                    R$ {[ped.total.toFixed(2)]}
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="empreparo">
                        <div class="col-md-4" style="font-size:10px;" ng-repeat="ped in pe.lista_pedidos_empreparo">
                            <a ng-if="ped.status=='Em Preparo'" ng-click="atualizar_status('Aguardando Entrega',ped.id);" class="btn btn-default btn-sm" style="display:block;margin-top:20px;">Atualizar para Aguardando Entrega</a>

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>DATA</b><br>
                                    {[ped.data]}
                                </li>
                                <li class="list-group-item">
                                    <b>RESTAURANTE</b><br>
                                    {[ped.empresa]}
                                </li>
                                <li class="list-group-item">
                                    <b>ENTREGA</b><br>
                                    {[ped.endereco]}, {[ped.bairro]} -
                                    {[ped.cidade]}
                                </li>
                                <li class="list-group-item">
                                    <b>ITENS</b>
                                    <table class="table" style="margin-bottom:0px;font-size:11px;">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="it in ped.itens">
                                                <td>{[it.produto]}</td>
                                                <td>{[it.quantidade]}</td>
                                                <td>R$ {[it.preco_parcial.toFixed(2)]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="list-group-item">
                                    <b>PAGAMENTO</b><br>
                                    {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                                </li>
                                <li class="list-group-item">
                                    <b>STATUS</b><br>
                                    {[ped.status]}
                                </li>
                                <li class="list-group-item">
                                    <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;">
                                    R$ {[ped.total.toFixed(2)]}
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="agentrega">
                        <div class="col-md-4" style="font-size:10px;" ng-repeat="ped in pe.lista_pedidos_aguardandoentrega">
                            <a ng-if="ped.status=='Aguardando Entrega'" ng-click="atualizar_status('Concluido',ped.id);" class="btn btn-default btn-sm" style="display:block;margin-top:20px;">Atualiza para Concluído</a>

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>DATA</b><br>
                                    {[ped.data]}
                                </li>
                                <li class="list-group-item">
                                    <b>RESTAURANTE</b><br>
                                    {[ped.empresa]}
                                </li>
                                <li class="list-group-item">
                                    <b>ENTREGA</b><br>
                                    {[ped.endereco]}, {[ped.bairro]} -
                                    {[ped.cidade]}
                                </li>
                                <li class="list-group-item">
                                    <b>ITENS</b>
                                    <table class="table" style="margin-bottom:0px;font-size:11px;">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="it in ped.itens">
                                                <td>{[it.produto]}</td>
                                                <td>{[it.quantidade]}</td>
                                                <td>R$ {[it.preco_parcial.toFixed(2)]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="list-group-item">
                                    <b>PAGAMENTO</b><br>
                                    {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                                </li>
                                <li class="list-group-item">
                                    <b>STATUS</b><br>
                                    {[ped.status]}
                                </li>
                                <li class="list-group-item">
                                    <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;">
                                    R$ {[ped.total.toFixed(2)]}
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pedidoconcluido">
                        <div class="col-md-4" style="font-size:10px;" ng-repeat="ped in pe.lista_pedidos_concluidos">
                            <br>
                            <!--<a ng-if="ped.status=='Aguardando Entrega'" ng-click="atualizar_status('Concluido',ped.id);" class="btn btn-default btn-sm" style="display:block;margin-top:20px;">Concluir Pedido</a>-->

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>DATA</b><br>
                                    {[ped.data]}
                                </li>
                                <li class="list-group-item">
                                    <b>RESTAURANTE</b><br>
                                    {[ped.empresa]}
                                </li>
                                <li class="list-group-item">
                                    <b>ENTREGA</b><br>
                                    {[ped.endereco]}, {[ped.bairro]} -
                                    {[ped.cidade]}
                                </li>
                                <li class="list-group-item">
                                    <b>ITENS</b>
                                    <table class="table" style="margin-bottom:0px;font-size:11px;">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="it in ped.itens">
                                                <td>{[it.produto]}</td>
                                                <td>{[it.quantidade]}</td>
                                                <td>R$ {[it.preco_parcial.toFixed(2)]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="list-group-item">
                                    <b>PAGAMENTO</b><br>
                                    {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                                </li>
                                <li class="list-group-item">
                                    <b>STATUS</b><br>
                                    {[ped.status]}
                                </li>
                                <li class="list-group-item">
                                    <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;">
                                    R$ {[ped.total.toFixed(2)]}
                                    </b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}