{% extends "restaurante/restaurante-base.html" %}
{% block title %}MenuWeb Restaurante - Novo Produto{% endblock %}
{% load staticfiles %}
{% block content %}
  <div ng-controller="pedidosRestauranteCtrl" class="app" role="main">
    <div class="topo-adm">
        <img src="{% static 'img/topo.png' %}"/>

        <h2>Controle de Pedidos</h2>
    </div>

    <div class="container restaurante-pedidos">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;margin-top:30px;">
                <ul class="nav nav-tabs">
                  <li role="presentation" class="col-md-3 active"><a href="#agpreparo" data-toggle="tab"><i>Ag. Preparo</i></a></li>
                  <li role="presentation" class="col-md-3"><a href="#empreparo" data-toggle="tab"><i>Em Preparo</i></a></li>
                  <li role="presentation" class="col-md-3"><a href="#agentrega" data-toggle="tab"><i>Ag. Entrega</i></a></li>
                  <li role="presentation" class="col-md-3"><a href="#pedidoconcluido" data-toggle="tab"><i>Concluído</i></a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="agpreparo">
                        <div class="col-md-12" id="ped_{[ped.id]}" ng-repeat="ped in pe.lista_pedidos_agpreparo" style="padding-top:30px;">
                            <b>Atualizar para:</b> <a ng-if="ped.status=='Aguardando Preparo'" ng-click="atualizar_status('Em Preparo',ped.id);" class="btn btn-default">em Preparo</a>
                            <a class="btn btn-default" style="float:right;" ng-click="imprimir_pedido(ped.id);">Imprimir <i class="glyphicon glyphicon-print"></i> </a>
                            <br><br>
                            <b>Data</b><br>
                            {[ped.data]}
                            <br><br>

                            <b>Restaurante</b><br>
                            {[ped.empresa]}
                            <br><br>

                            <b>Entrega</b><br>
                            {[ped.endereco]}, {[ped.bairro]} - {[ped.cidade]}
                            <br><br>

                            <b>Itens</b>
                            <table class="table-striped" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Produto</th>
                                        <th class="col-md-2">Quantidade</th>
                                        <th class="col-md-5">Observação</th>
                                        <th class="col-md-2">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="it in ped.itens">
                                        <td class="col-md-3">{[it.produto]}</td>
                                        <td class="col-md-2">{[it.quantidade]}</td>
                                        <td class="col-md-5">{[it.observacao]}</td>
                                        <td class="col-md-2">R$ {[it.preco_parcial.toFixed(2)]}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <b>PAGAMENTO</b><br>
                            {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                            <br><br>

                            <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;margin-bottom: 15px;">
                            R$ {[ped.total.toFixed(2)]}
                            </b>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="empreparo">
                        <div class="col-md-12" id="ped_{[ped.id]}" ng-repeat="ped in pe.lista_pedidos_empreparo" style="padding-top:30px;">
                            <b>Atualizar para:</b> <a ng-if="ped.status=='Em Preparo'" ng-click="atualizar_status('Aguardando Entrega',ped.id);" class="btn btn-default">Atualizar para Aguardando Entrega</a>
                            <a class="btn btn-default" style="float:right;" ng-click="imprimir_pedido(ped.id);">Imprimir <i class="glyphicon glyphicon-print"></i> </a>

                            <br><br>
                            <b>Data</b><br>
                            {[ped.data]}
                            <br><br>

                            <b>Restaurante</b><br>
                            {[ped.empresa]}
                            <br><br>

                            <b>Entrega</b><br>
                            {[ped.endereco]}, {[ped.bairro]} - {[ped.cidade]}
                            <br><br>

                            <b>Itens</b>
                            <table class="table-striped" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Produto</th>
                                        <th class="col-md-2">Quantidade</th>
                                        <th class="col-md-5">Observação</th>
                                        <th class="col-md-2">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="it in ped.itens">
                                        <td class="col-md-3">{[it.produto]}</td>
                                        <td class="col-md-2">{[it.quantidade]}</td>
                                        <td class="col-md-5">{[it.observacao]}</td>
                                        <td class="col-md-2">R$ {[it.preco_parcial.toFixed(2)]}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <b>PAGAMENTO</b><br>
                            {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                            <br><br>

                            <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;margin-bottom: 15px;">
                            R$ {[ped.total.toFixed(2)]}
                            </b>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="agentrega">
                        <div class="col-md-12" id="ped_{[ped.id]}" ng-repeat="ped in pe.lista_pedidos_aguardandoentrega" style="padding-top:30px;">
                            <b>Atualizar para:</b><a ng-if="ped.status=='Aguardando Entrega'" ng-click="atualizar_status('Concluido',ped.id);" class="btn btn-default btn-sm">Atualiza para Concluído</a>

                            <a class="btn btn-default" style="float:right;" ng-click="imprimir_pedido(ped.id);">Imprimir <i class="glyphicon glyphicon-print"></i> </a>

                            <br><br>
                            <b>Data</b><br>
                            {[ped.data]}
                            <br><br>

                            <b>Restaurante</b><br>
                            {[ped.empresa]}
                            <br><br>

                            <b>Entrega</b><br>
                            {[ped.endereco]}, {[ped.bairro]} - {[ped.cidade]}
                            <br><br>

                            <b>Itens</b>
                            <table class="table-striped" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Produto</th>
                                        <th class="col-md-2">Quantidade</th>
                                        <th class="col-md-5">Observação</th>
                                        <th class="col-md-2">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="it in ped.itens">
                                        <td class="col-md-3">{[it.produto]}</td>
                                        <td class="col-md-2">{[it.quantidade]}</td>
                                        <td class="col-md-5">{[it.observacao]}</td>
                                        <td class="col-md-2">R$ {[it.preco_parcial.toFixed(2)]}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <b>PAGAMENTO</b><br>
                            {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                            <br><br>

                            <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;margin-bottom: 15px;">
                            R$ {[ped.total.toFixed(2)]}
                            </b>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pedidoconcluido">
                        <div class="col-md-12" id="ped_{[ped.id]}" ng-repeat="ped in pe.lista_pedidos_concluidos">
                            <br>
                            <!--<a ng-if="ped.status=='Aguardando Entrega'" ng-click="atualizar_status('Concluido',ped.id);" class="btn btn-default btn-sm" style="display:block;margin-top:20px;">Concluir Pedido</a>-->
                            <a class="btn btn-default" style="float:right;" ng-click="imprimir_pedido(ped.id);">Imprimir <i class="glyphicon glyphicon-print"></i> </a>

                                                        <br><br>
                            <b>Data</b><br>
                            {[ped.data]}
                            <br><br>

                            <b>Restaurante</b><br>
                            {[ped.empresa]}
                            <br><br>

                            <b>Entrega</b><br>
                            {[ped.endereco]}, {[ped.bairro]} - {[ped.cidade]}
                            <br><br>

                            <b>Itens</b>
                            <table class="table-striped" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Produto</th>
                                        <th class="col-md-2">Quantidade</th>
                                        <th class="col-md-5">Observação</th>
                                        <th class="col-md-2">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="it in ped.itens">
                                        <td class="col-md-3">{[it.produto]}</td>
                                        <td class="col-md-2">{[it.quantidade]}</td>
                                        <td class="col-md-5">{[it.observacao]}</td>
                                        <td class="col-md-2">R$ {[it.preco_parcial.toFixed(2)]}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <b>PAGAMENTO</b><br>
                            {[ped.pagamento_obs]} - {[ped.pagamento_tipo]}
                            <br><br>

                            <b class="label label-primary" style="font-size: 16PX;padding: 14PX 0PX;text-align: center;display: block;margin-bottom: 15px;">
                            R$ {[ped.total.toFixed(2)]}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}