{% extends 'adm/base.html' %}
{% block title %}Funcionários - Excluir{% endblock %}
{% load staticfiles %}
{% block content %}

  <div class="content col-md-12" ng-app="game7App" ng-controller="opcionalCtrl">
    <div ng-if="op.retorno">
        <p class="alert alert-success" style="text-align:center;">Excluido com sucesso!</p>
    </div>
    <div class="col-md-12">
        <h2>Opcional - <small>Exclusão</small></h2>
    </div>
    <div class="col-md-10">
        <p>A exclusão terá efeito imediato</p>
        <p>Tem certeza que deseja excluir o Opcional <b>{[op.opcionalselecionado[0].titulo]}</b> da empresa <b>{[op.opcionalselecionado[0].empresa_nome]}</b> ? </p>
    </div>
    <div class="col-md-2">
        <a ng-click="excluir()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Sim</a>
        <a href="/adm/opcionais" style="display: block;width: 100%;" class="btn btn-default">Cancelar</a>
    </div>

  </div>
{% endblock %}