{% extends "adm/base.html" %}
{% block title %}Novo Funcionário{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="opcionalCtrl">
  <form method="post">
    <div ng-if="op.retorno">
        <p class="alert alert-success" style="text-align:center;">Salvo com sucesso!</p>
    </div>
    <div class="col-md-12">
        <h3>Novo Opcional</h3>
        <p>A Opcional estará disponível assim que estiver salvo.</p>
    </div>
    <div class="col-md-8">
        <label class="control-label">Empresa</label><br/>
        <select class="form-control" name="empresa" id="empresa" ng-options="empresa as empresa.nome for empresa in em.lista_empresas track by empresa.id" ng-model="sel_empresa"></select>
        <br/>

        <label class="control-label">Titulo</label><br/>
        <input type="text" id="titulo" name="titulo" required="True" class="form-control"/>
        <br/>

        <label class="control-label">Tipo</label><br/>
        <select class="form-control" name="tipo" id="tipo">
            <option value="U" selected="True">Único</option>
            <option value="Q">Quantitativo</option>
            <option value="M">Multiplo</option>
        </select>
        <br/>

    </div>

    <div class="col-md-4">
        <a ng-click="atualizar()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Salvar</a>
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/opcionais/">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
