{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="opcionalCtrl">
    <div class="col-md-12">
        <h3>Opcionais</h3>
        <p>Este módulo apresenta por padrão os opcionais.</p>
    </div>
    <div class="col-md-12">
        <div class="form-inline well">
            <div class="form-group">
                <label for="ipFiltroTitulo">Título</label>
                <input type="text" class="form-control" id="ipFiltroTitulo" name="ipFiltroTitulo" >
            </div>

            <a ng-click="filtrar()" class="btn btn-default">Filtrar</a>
        </div>
      </div>
      <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Empresa</th>
                <th>Titulo</th>
                <th>Tipo de Seleção</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

              <tr ng-repeat="opcional in op.lista_opcionais">
                  <td class="col-md-4">{[opcional.empresa_nome]}</td>
                  <td class="col-md-4">{[opcional.titulo]}</td>
                  <td class="col-md-2" ng-if="opcional.tipo == 'U'">Único</td>
                  <td class="col-md-2" ng-if="opcional.tipo == 'Q'">Quantitativo</td>
                  <td class="col-md-2" ng-if="opcional.tipo == 'M'">Multipla</td>
                  <td><a href="/adm/opcoes?o_id={[opcional.id]}" class="btn btn-default btn-xs">Opções</a> </td>
                  <td><a href="/adm/opcional-edicao?o_id={[opcional.id]}" class="btn btn-primary btn-xs">editar</a> </td>
                  <td><a href="/adm/opcional-ver?o_id={[opcional.id]}" class="btn btn-primary btn-xs">ver</a> </td>
                  <td><a href="/adm/opcional-excluir?o_id={[opcional.id]}" class="btn btn-danger btn-xs">excluir</a> </td>
              </tr>

        </table>
    </div>
    <div class="col-md-2">
        <a href="/adm/opcional-novo?o_id=0" class="btn btn-primary btn-lg">Novo Opcional</a>
    </div>
</div>

{% endblock %}
