{% extends "adm/base.html" %}
{% block title %}Ver Categoria{% endblock %}
{% load staticfiles %}
{% block content %}

<div ng-app="game7App" ng-controller="opcionalCtrl" class="col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <h3>Ver Opcional</h3>
    </div>
    <div class="col-md-10">
        <b>Empresa</b><br/>
        {[op.opcionalselecionado[0].empresa_nome]}
        <br/><br/>

        <b>Opcional</b><br/>
        {[op.opcionalselecionado[0].titulo]}
        <br/><br/>

        <b>Seleção unica?</b><br/>
        <p ng-if="op.opcionalselecionado[0].unico==true">Sim</p>
        <p ng-if="op.opcionalselecionado[0].unico==false">Não</p>


        <b>Seleção quantitativa?</b><br/>
        <p ng-if="op.opcionalselecionado[0].quantitativo==true">Sim</p>
        <p ng-if="op.opcionalselecionado[0].quantitativo==false">Não</p>
        <br/><br/>
    </div>

    <div class="col-md-2">
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/opcionais">Voltar</a>
    </div>
</div>

{% endblock %}
