{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="empresarepasseCtrl">
    <div class="col-md-12">
        <h3>Confirmar Pagamento de Repasse</h3>
        <p>Uma vez que a confirmação do Repasse seja efetuado o mesmo não poderá ser desfeito</p>
        <div class="alert alert-success" ng-show="em.retorno == true">
            Repasse salvo com sucesso!
        </div>
    </div>
    <div class="col-md-10">
        <b>Referencia</b>
        <input type="text" class="form-control" value="{[em.lista_empresasremessas[0].referencia]}" name="ipReferencia" id="ipReferencia"/>
        <br>

        <b>Data Inicial</b><br>
        {[em.lista_empresasremessas[0].ultima_data]}
        <br><br>

        <b>Valor Total de faturamento</b><br>
        R$ {[em.lista_empresasremessas[0].total_mercadopago + em.lista_empresasremessas[0].total_naentrega]}
        <br><br>

        <b>Porcentagem de repasse</b><br>
        {[(em.lista_empresasremessas[0].porcentagem_repasse)]} %
        <br><br>

        <b>Valor do repasse</b><br>
        R$ {[(em.lista_empresasremessas[0].total)]}
        <br><br>
    </div>
    <div class="col-md-2">
        <a ng-click="efetuarpagamento()" class="btn btn-primary btn-lg">Salvar</a>
    </div>
</div>

{% endblock %}
