{% extends "adm/base.html" %}
{% block title %}Categorias{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12" ng-app="game7App" ng-controller="empresarepasseCtrl">
    <div class="col-md-12">
        <h3>Repasses Anteriores</h3>
        <p>Este módulo permite a visualização de todos os repasses feitos anteiormente</p>
    </div>
    <div class="col-md-12">
        <div class="form-inline well">
            <div class="form-group">
                <label for="ipFiltroData">Data</label>
                <input type="date" class="form-control" id="ipFiltroData" name="ipFiltroData" >
            </div>
            <a ng-click="filtrar()" class="btn btn-default">Filtrar</a>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Referencia</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Total (R$)</th>
                <th>Pago</th>
            </tr>
            <tr ng-repeat="rep in em.lista_empresasremessas[0].repasses">
              <td class="col-md-4">{[rep.referencia]}</td>
              <td class="col-md-2">{[rep.data_inicio]}</td>
              <td class="col-md-2">{[rep.data_fim]}</td>
              <td class="col-md-2">R$ {[rep.total]}</td>
              <td class="col-md-2">{[rep.pago]}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
