<html>
	<head>
		<title>MenuWeb</title>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{% static 'css/bootstrap_paper.min.css'%}" rel="stylesheet" />
		<link href="{% static 'css/style_home.css'%}" rel="stylesheet" />
		<script src="{% static 'js/jQuery.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'angular/angular.min.js' %}"></script>
		<script src="{% static 'angular/game7_app.js' %}"></script>
		<script src="{% static 'angular/models.js' %}"></script>
		<script src="{% static 'angular/controllers.js' %}"></script>
	</head>
	<body ng-app="game7App">
        <div ng-controller="topoCtrl" id="genLoginCtrl" role="main">
            <div class="menu-topo col-md-12 col-xs-12">
                <div class="container col-md-12 col-xs-12">
                    <div class="col-md-2 col-xs-2">
                        <a href="/"><img src="{% static 'img/logo-menu.png' %}" style="width:150px;padding-top:8px;"/></a>
                    </div>
                    <div class="col-md-7 col-xs-7">
                        <ul class="nav nav-pills">
                            <li style="padding-left:30px;"><a href="/sobre">Sobre o MenuWeb</a></li>
                            <li><a data-toggle="modal" data-target="#poprestaurante" href="#">Cadastre seu Restaurante</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-3 orange">
                        <div ng-if="cl.clientelogado[0] == null">
                            <div class="btn-group" role="group" aria-label="..." style="padding-top:8px;">
                              <!--<a class="btn btn-sm btn-default" data-toggle="modal" data-target="#poplogin">Entrar</a>-->
                              <!--<a class="btn btn-sm btn-default" data-toggle="modal" data-target="#popcadastro">Cadastrar</a>-->

                              <a class="btn btn-sm btn-default" href="/cadastro-login">Entrar</a>
                              <a class="btn btn-sm btn-default" href="/cadastro-login">Cadastrar</a>
                            </div>
                        </div>
                        <div ng-if="cl.clientelogado[0]">
                            <div class="well bemvindo">
                                Bem vindo <b>{[cl.clientelogado[0].nome]}</b>!<a ng-click="sair();" class="btn btn-xs btn-danger">Sair</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="well alert-success" style="margin:0px;color: #fff;text-align: center;" ng-show="em.envio_precadastro">
                O seu pré cadastro foi enviado com sucesso, um representante da <b>MenuWeb</b> estará entrando em contato.
            </div>

            <div class="modal fade popup" id="poprestaurante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <br/>
                            <img src="{% static 'img/logo-menu.png' %}" style="width:150px;margin:0 auto;display:block;"/>
                        </div>
                        <div class="modal-body">
                            <label class="control-label">Nome</label><br/>
                            <input type="text" id="restaurantenome" name="restaurantenome" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Email</label><br/>
                            <input type="text" id="restauranteemail" type="email" name="restauranteemail" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Telefone</label><br/>
                            <input type="number" id="restaurantetelefone" name="restaurantetelefone" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Nome do Responsável</label><br/>
                            <input type="text" id="restauranteresponsavel" name="restauranteresponsavel" required="True" class="form-control"/>
                            <br/>

                            <div class="col-md-12" style="padding-left:0px;padding-right:0px;margin-bottom:20px;">
                                <div class="col-md-9" style="padding-left:0px;padding-right:0px;">
                                    <label class="control-label">Cep</label><br/>
                                    <input type="text" id="restaurantecep" type="text" name="restaurantecep" required="True" class="form-control"/>
                                </div>
                                <div class="col-md-3" style="padding-right:0px;">
                                    <a class="btn btn-primary" ng-click="getceprestaurante();">Localizar</a>
                                </div>
                            </div>

                            <label class="control-label">Estado</label><br/>
                            <select class="form-control" name="restauranteestado" id="restauranteestado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="et.estado_selecionado"></select>
                            <br/>

                            <label class="control-label">Cidade</label><br/>
                            <select class="form-control" name="restaurantecidade" id="restaurantecidade" ng-change="getbairros()" onload="set_cidade();" ng-init="set_cidade();" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="cd.cidade_selecionado"></select>
                            <br/>

                            <label class="control-label">Bairro</label><br/>
                            <select class="form-control" name="restaurantebairro" id="restaurantebairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="br.bairro_selecionado"></select>
                            <br/>

                            <div class="col-md-8" style="padding-left:0px;">
                                <label class="control-label">Endereço</label><br/>
                                <input type="text" id="restauranteendereco" type="text" name="restauranteendereco" required="True" class="form-control"/>
                            </div>
                            <div class="col-md-4" style="padding-right:0px;">
                                <label class="control-label">Número</label><br/>
                                <input type="text" id="restaurantenumero" type="number" name="restaurantenumero" required="True" class="form-control"/>
                            </div>

                            <label style="margin-top:20px;" class="control-label">Complemento</label><br/>
                            <input type="text" id="restaurantecomplemento" type="text" name="restaurantecomplemento" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Tipo da Cozinha</label><br/>
                            <select class="form-control" name="restaurantetipocozinha" id="restaurantetipocozinha" ng-options="tipocozinha as tipocozinha.fields.nome for tipocozinha in tc.lista_tiposcozinha track by tipocozinha.pk" ng-model="tc.tipocozinha_selecionado"></select>
                            <br/>

                            <br>
                            <a ng-click="atualizarrestaurante();" href="#" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i> Enviar Pré-Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="min-height:800px;">
		    {% block content %}{%endblock %}
        </div>

		<div class="rodape col-md-12 col-xs-12" style="display:inline-block;">
			<div class="container col-md-12 col-xs-12">
				<div class="links col-md-7 col-xs-7">
					<ul class="col-md-4 col-xs-4">
						<li><a>Quem somos</a></li>
						<li><a>Contato</a></li>
						<li><a>Imprensa</a></li>
					</ul>
					<ul class="col-md-4 col-xs-4">
						<li><a>Termos e condições de uso</a></li>
						<li><a>Trabalhe conosco</a></li>
						<li><a>Sugerir restaurante</a></li>
					</ul>
					<ul class="col-md-4 col-xs-4">
						<li><a>Como pedir</a></li>
						<li><a>Privacidade</a></li>
						<li><a>Cadastre-se</a></li>
					</ul>
				</div>

				<div class="col-md-5 col-xs-5 apps-social">
					<div class="col-md-6 col-xs-6">
						Siga a gente
						<ul class="nav nav-pills col-md-12 col-xs-12">
							<li><a><img src="{% static 'img/facebook-icon.png' %}"/> </a></li>
							<li><a><img src="{% static 'img/twitter-icon.png' %}"/> </a></li>
							<li><a><img src="{% static 'img/instagram-icon.png' %}"/> </a></li>
						</ul>
					</div>

					<div class="col-md-6 col-xs-6">
						Baixe o app
						<ul class="nav nav-pills col-md-12 col-xs-12">
							<li><a><img style="width:28px;margin-right:4px;" src="{% static 'img/apple-icon.png' %}"/> </a></li>
							<li><a><img style="width:25px;" src="{% static 'img/android-icon.png' %}"/> </a></li>
							<li><a><img style="width:25px;margin-left:5px; margin-top:4px;" src="{% static 'img/windows8-icon.png' %}"/> </a></li>
						</ul>
					</div>
				</div>

				<div class="copyright col-md-12 col-xs-12">
					UNEFA SERVIÇOS ONLINE EIRELI - EPP - CNPJ: 27.794.520/0001-70 © Todos os direitos reservados. 2017
				</div>
			</div>
            <script>

                  window.fbAsyncInit = function() {
                    FB.init({
                      appId      : '849710158518933',
                      cookie     : true,
                      xfbml      : true,
                      version    : 'v2.8'
                    });
                    FB.AppEvents.logPageView();
                  };

                  (function(d, s, id){
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) {return;}
                     js = d.createElement(s); js.id = id;
                     js.src = "//connect.facebook.net/en_US/sdk.js";
                     fjs.parentNode.insertBefore(js, fjs);
                   }(document, 'script', 'facebook-jssdk'));


                function login(){
                    FB.getLoginStatus(function(response) {
                      if (response.status === 'connected') {
                        FB.api('/me', function(response_infos) {
                          angular.element(document.getElementById('genLoginCtrl')).scope().logarfacebook(response_infos.name,response_infos.id);
                        });
                      }
                      else {
                        FB.login(function(response){
                          if (response.status === 'connected') {
                            FB.api('/me', function(response_infos) {
                              angular.element(document.getElementById('genLoginCtrl')).scope().logarfacebook(response_infos.name,response_infos.id);
                            });
                          } else {
                            alert('Não foi possível realizar o login pelo Facebook');
                          }
                        }, {scope: 'public_profile,email'});
                      }
                    });
                }
            </script>
		</div>
	</body>
</html>