{% extends "base.html" %}
{% block title %}Bem vindo{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="sobre cliente-home" ng-controller="buscaCtrl" style="min-height:800px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 lista-home" style="min-height:500px;">
                <input class="form-control" id="iFiltro" ng-keyup="filtrar();"  placeholder="Buscar Prato ou restaurante" style="margin-bottom:30px;">
                <div class="col-md-12 lista-home-item" ng-repeat="emp in em.lista_empresas">
                    <a href="/cliente/restaurante?e_id={[emp.id]}">
                        <div class="col-md-12 col-xs-12" style="padding:2px;padding:0px; margin-bottom:2px;font-weight:bold;">
                            <div class="col-md-2 col-xs-2" style="padding:0px;">
                                <img class="img-circle" style="width:80px;height:80px;" ng-src="{[em.caminho_foto]}{[emp.logotipo]}" />
                            </div>
                            <div class="col-md-9 col-xs-9" style="padding:0px;">
                                <b>{[emp.nome]}</b>
                                <p>
                                    {[emp.tipocozinha]} | $$$
                                </p>
                            </div>
                            <div class="col-md-1 col-xs-1 nota" style="padding:0px;">
                                <img src="{% static 'img/estrela_amarela.png'%}" style="width:18px;">
                                {[emp.nota_atual.toFixed(2)]}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding:0px 2px;font-size:9px;">
                            <div class="label label-primary" style="font-size:10px;margin:2px;display:inline-block;" ng-repeat="subs in prod.subcategorias">{[subs.categoria]} - {[subs.subcategoria]}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}