{% extends "base.html" %}
{% block title %}Bem vindo{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="home" ng-controller="topoCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 cadastro-login" style="padding:0px;margin-top:30px;margin-bottom:30px;">
                <div class="col-md-6" style="padding:0px;border-right:#F4F4F4 1px solid;">

                    <div class="col-md-12 ttl-orange-cadastro">
                        <b>Quero me cadastrar!</b>
                        <p>Aproveite nossas ofertas</p>
                    </div>

                    <div class="col-md-12" style="padding:0px 25px;">

                        <a class="btn btn-default" id="btnLoginFace2" scope="public_profile" onclick="login();" style="display:block;width:100%;font-weight:bold;text-transform:uppercase;">Cadastrar com Facebook</a>
                        <a class="btn btn-default" id="btnCadastrarEmail" ng-click="cadastraremail();" style="display:block;width:100%;font-weight:bold;text-transform:uppercase;">Cadastrar com Email</a>


                        <div id="gencadastroemail" style="display:none;padding-top:20px;margin-bottom:20px;">
                            <label class="control-label">Nome</label><br/>
                            <input type="text" id="nome" name="nome" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Email</label><br/>
                            <input type="text" id="email" type="email" name="email" required="True" class="form-control"/>
                            <br/>

                            <label class="control-label">Senha</label><br/>
                            <input type="password" id="senha" name="senha" required="True" class="form-control"/>
                            <br/>

                            Em caso de problemas, avisaremos
                            (Prioriza o cadastro do seu celular)<br/><br/>
                            <label class="control-label">Telefone</label><br/>
                            <input type="number" id="telefone" name="telefone" required="True" class="form-control"/>
                            <br/>

                            <a class="btn btn-default btn-laranja" ng-click="atualizar();" style="display:block;width:100%;font-weight:bold;text-transform:uppercase;"><i class="glyphicon glyphicon-ok"></i> Cadastrar</a>
                        </div>


                        <!--<div class="col-md-12" style="padding-left:0px;padding-right:0px;margin-bottom:20px;">-->
                            <!--<div class="col-md-8" style="padding-left:0px;padding-right:0px;">-->
                                <!--<label class="control-label">Cep</label><br/>-->
                                <!--<input type="text" id="cep" type="text" name="cep" required="True" class="form-control"/>-->
                            <!--</div>-->
                            <!--<div class="col-md-4" style="padding-right:0px;">-->
                                <!--<a class="btn btn-default btn-laranja" ng-click="getcep();">Localizar</a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<label class="control-label">Estado</label><br/>-->
                        <!--<select class="form-control" name="estado" id="estado" ng-change="getcidades()" ng-options="estado as estado.fields.nome for estado in et.lista_estados track by estado.pk" ng-model="et.estado_selecionado"></select>-->
                        <!--<br/>-->

                        <!--<label class="control-label">Cidade</label><br/>-->
                        <!--<select class="form-control" name="cidade" id="cidade" ng-change="getbairros()" onload="set_cidade();" ng-init="set_cidade();" ng-options="cidade as cidade.fields.nome for cidade in cd.lista_cidades track by cidade.pk" ng-model="cd.cidade_selecionado"></select>-->
                        <!--<br/>-->

                        <!--<label class="control-label">Bairro</label><br/>-->
                        <!--<select class="form-control" name="bairro" id="bairro" ng-options="bairro as bairro.fields.nome for bairro in br.lista_bairros track by bairro.pk" ng-model="br.bairro_selecionado"></select>-->
                        <!--<br/>-->

                        <!--<div class="col-md-8" style="padding-left:0px;">-->
                            <!--<label class="control-label">Endereço</label><br/>-->
                            <!--<input type="text" id="endereco" type="text" name="endereco" required="True" class="form-control"/>-->
                        <!--</div>-->
                        <!--<div class="col-md-4" style="padding-right:0px;">-->
                            <!--<label class="control-label">Número</label><br/>-->
                            <!--<input type="text" id="numero" type="number" name="numero" required="True" class="form-control"/>-->
                        <!--</div>-->

                        <!--<label style="margin-top:20px;" class="control-label">Complemento</label><br/>-->
                        <!--<input type="text" id="complemento" type="text" name="complemento" required="True" class="form-control"/>-->
                    </div>
                </div>


                <div class="col-md-6" style="padding:0px;">
                    <div class="col-md-12 ttl-orange-cadastro">
                        <b>Já sou cadastrado!</b>
                        <p>Faça agora o seu login</p>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-default" id="btnLoginFace" scope="public_profile" onclick="login();" style="display:block;width:100%;font-weight:bold;text-transform:uppercase;">Logar com Facebook</a>
                        <a class="btn btn-default btn-face" id="btnContinuarFace" scope="public_profile" onclick="getInfo();" style="display:none;width:100%;color:#fff;background-color:#3b5998;font-weight:bold;text-transform:uppercase;">Continuar o Acesso</a>

                        <label style="margin-top:20px;">E-mail</label>
                        <input type="email" id="loginemail" class="form-control" />
                        <br>

                        <label>Senha</label>
                        <input type="password" id="loginsenha" class="form-control" />
                        <br>

                        <br>
                        <a class="btn btn-laranja btn-default" ng-click="efetuarlogar();" style="display:block;width:100%;font-weight:bold;text-transform:uppercase;"><i class="glyphicon glyphicon-user"></i> Entrar</a><br/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}