{% extends "adm/base.html" %}
{% block title %}Ver Categoria{% endblock %}
{% load staticfiles %}
{% block content %}

<div ng-app="game7App" ng-controller="funcionarioCtrl" class="col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <h3>Ver Funcionário</h3>
    </div>
    <div class="col-md-10">
        <b>Nome</b><br/>
        {[fn.funcionarioselecionado[0].fields.nome]}
        <br/><br/>

        <b>Email</b><br/>
        {[fn.funcionarioselecionado[0].fields.email]}
        <br/><br/>

        <b>Telefone</b><br/>
        {[fn.funcionarioselecionado[0].fields.telefone]}
        <br/><br/>

        <b>Endereço</b><br/>
        {[fn.funcionarioselecionado[0].fields.endereco]}
        <br/><br/>
    </div>

    <div class="col-md-2">
        <a style="display: block;width: 100%;" class="btn btn-default btn-lg" href="/adm/funcionarios">Voltar</a>
    </div>
</div>

{% endblock %}
