{% extends 'adm/base.html' %}
{% block title %}Categorias - Excluir{% endblock %}
{% load staticfiles %}
{% block content %}

  <div class="content" ng-app="game7App" ng-controller="categoriaCtrl">
    <div class="col-md-12">
        <h2>Categoria - <small>Exclusão</small></h2>
    </div>
    <div ng-if="ct.retorno">
        <p class="alert alert-success" style="text-align:center;">Excluido com sucesso!</p>
    </div>
    <div class="col-md-10">
        <p>A exclusão terá efeito imediato, ressaltando que juntamente com a Categoria todas suas subcategorias serão excluídas</p>
        <p>Tem certeza que deseja excluir a categoria <b>{[ct.selecionado[0].fields.nome]}</b> ? </p>
    </div>
    <div class="col-md-2">
        <a ng-click="excluir()" style="display: block;width: 100%;" class="btn btn-success btn-lg">Sim</a>
        <a href="/adm/categorias" style="display: block;width: 100%;" class="btn btn-default">Cancelar</a>
    </div>

  </div>
{% endblock %}