{% extends 'adm/base.html' %}
{% block title %}Categorias - Excluir{% endblock %}
{% load staticfiles %}
{% block content %}

  <div class="content">

    <div class="col-md-12">
        <h2>Categoria - <small>Exclusão</small></h2>
    </div>
    <div class="col-md-10">
        <p>A exclusão terá efeito imediato, ressaltando que juntamente com a Categoria todas suas subcategorias serão excluídas</p>
        <p>Tem certeza que deseja excluir a categoria <b>{{categoriaselecionado.nome}}</b> ? </p>
    </div>
    <div class="col-md-2">
        <a href="/adm/bd-categoria-excluir?c_id={{categoriaselecionado.id}}" style="display: block;width: 100%;" class="btn btn-success btn-lg">Sim</a>
        <a href="/adm/categorias" style="display: block;width: 100%;" class="btn btn-default">Cancelar</a>
    </div>

  </div>
{% endblock %}